<div>
  <% if position.active %>
  <% @news_content.each do |element| %>
    <% if (position.element_id == element.id) and (position.element_type == element.class.to_s) %>
      <% if element.class.to_s == "Quote" %>
          <blockquote>
            <p class="pa-content-text"><%= element.quote %></p>
            <small><%= element.quoted_line %></small>
          </blockquote>
      <% end %> <!-- quote rendering -->
  
       <p class="pa-content"><%= element.content %></p>
  
     <% if (!position.related_elements.empty?) %>
     <% position.related_elements.each do |rel_news| %>
        <div class="pa-source-title"><p>Learn More: <%= link_to rel_news.story.headlines.find(rel_news.story.active_headline_id).headline, controller: "news", action: "show", id: rel_news.story_id  %></p></div>
     <% end %>
     <% end %> <!-- position related news -->
    <% end %> <!-- right element? -->
  <% end %> <!-- iteration -->
  <% end %> <!-- active -->
  <hr>
</div>

  
