<div class="pa-latest-news-container">
<% @latest_news_by_sections.each do |key, section| %>
  <div class="pa-latest-news-section">
    <h3><%= "#{key}" %> <small><%= " latest #{section.count} stories" %></small></h3>
    <%= render partial: "newsline", collection: section, as: :newsline %>
  </div>
<% end -%>
</div>