<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">Content & Positions
    <span class="badge pull-right small">
      <% eleCount = @story.story_elements.count %>
      <%= pluralize(eleCount,'position') %></span></h3> <!-- title and counter -->
</div>  <!-- header -->

<ul class="list-group"><li class="list-group-item"><div class="btn-group btn-group-xs" role="group" aria-label="...">
    <div class="btn-group btn-group-xs" role="group">
      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-plus"></i> New Position <span class="caret"></span>
      </button> <!-- new position button -->
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" role="button" data-toggle="modal" data-target="#quoteNewModal"><i class="fa fa-quote-left"></i> New Quote</a></li>
        <li><a href="#" role="button" data-toggle="modal" data-target="#contentNewModal"><i class="fa fa-font"></i> New Content</a></li>
        <li><a href="#"><i class="fa fa-link"></i> Insert Existing Content</a></li>
      </ul> <!-- new position dropdown -->
    </div> <!-- new position btn group -->
    <button type="button" class="btn btn-default btn-xs">
      <i class="fa fa-bars"></i> Reorder Positions
</button> <!-- reorder button -->
  </div></li></ul> <!-- controls -->

<ul class="list-group">
  <%= render partial: "element_item", collection: @story.story_elements.order(position: :asc), as: :position %>
</ul> <!-- elements/position list group -->

<div class="panel-footer">footer</div>
</div> <!-- elements end -->