<!-- A modal to be activated by a button, via data attributes -->
<div class="modal fade" id="contentNewModal" tabindex="-1" role="dialog" aria-labelledby="contentNewModal" aria-hidden="true" aria-describedby="" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4">Create a new content postion.</span>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div><!-- modal-header -->
        
        <div class="modal-body">
        <div class="row">
          <%= form_tag(atoms_path(), method: 'post', id: :newAtomForm) %>
          <div class="col-xs-12">
             <%= hidden_field_tag('story_id', @story.id) %>
             <%= hidden_field_tag('element_id', id: 'element_id') %>
             <%= hidden_field_tag('element_type', 'Quote') %>            
            <div class="form-group">
                <label for="contentTopic" class="control-label">Topic:</label>
                <input class="form-control input-sm" type="text" name="contentTopic" id="contentTopic">
            </div> <!-- contentTopic -->
            
            <div class="form-group">
                <label for="contentContent" class="control-label">Content:</label>
                <textarea class="form-control input-sm" name="contentContent" id="contentContent" rows=7 oninput="charCount('contentContent', 'contentContentCharNum')"></textarea>
                <div id="contentContentCharNum" class="text-muted small">0 characters</div>
            </div> <!-- contentContent -->
           
            <div class="form-group">
              <label for="contentThemeTags" class="control-label">Theme Tags:</label>
              <textarea class="form-control" name="contentThemeTags" id="contentThemeTags" rows=2></textarea>
            </div> <!-- contentThemeTags -->
              
            <div class="form-group">
              <label for="contentContextTags" class="control-label">Context Tags:</label>
              <textarea class="form-control" name="contentContextTags" id="contentContextTags" rows=2></textarea>
              <p class="help-block small">Tags are seperated by a comma.</p>
            </div> <!-- contentContextTags -->
              
            </div><!-- content form fields -->
          </div><!-- row -->
        </div><!-- modal body -->
        
        <div class="modal-footer">
          <div class="form-group">
            <button type="reset" class="btn btn-warning pull-left" onclick="resetTextArea('contentContent', 'contentContentCharNum')">Reset form</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div> <!-- controls -->
        </div> <!-- modal footer -->
      </form> <!-- form -->
      
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal wrapper -->

<script>
// counter and counterReset functions are included in the quoteEditModal
</script>