<div class="modal fade" id="quoteNewModal" tabindex="-1" role="dialog" aria-labelledby="quoteNewModal" aria-hidden="true" aria-describedby="" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4">Create a new quote position.</span>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div> <!-- header -->
        
      <div class="modal-body">          
      <div class="row">       
        <%= form_tag(quotes_path(), method: 'post', id: :newQuoteForm) %>
        <div class="col-xs-6">
           <%= hidden_field_tag('story_id', @story.id) %>
           <%= hidden_field_tag('element_id', id: 'element_id') %>
           <%= hidden_field_tag('element_type', 'Quote') %>
           <div class="form-group">
             <label for="quoteTopic">Topic:</label>
             <input type="text" id="quoteTopic" name="quoteTopic" class="form-control input-sm">
           </div> <!-- quoteTopic -->

           <div class="form-group">
             <label for="quoteQuote">Quote:</label>
             <textarea class="form-control input-sm" id="quoteQuote" name="quoteQuote" rows=7 ></textarea>
           </div> <!-- quoteQuote -->

           <div class="form-group">
             <label for="quoteQuoted">Quoted:</label>
             <input type="text" class="form-control input-sm" id="quoteQuoted" name="quoteQuoted">
           </div> <!-- quoteQuoted -->

           <div class="form-group">
             <label for="quoteQuotedSubline">Quoted Title and/or Organization:</label>
             <input type="text" class="form-control input-sm" id="quoteQuotedSubline">
           </div> <!-- quoteQuotedSubline -->

        </div><!-- quote form fields -->

        <div class="col-xs-6">            
           <div class="form-group">
            <label for="quoteContent">Content:</label>
            <textarea class="form-control input-sm" id="quoteContent" name="quoteContent" rows=7 oninput="charCount('quoteContent', 'quoteContentCharNum')"></textarea>
            <div id="quoteContentCharNum" class="text-muted small">0 characters</div>
          </div> <!-- quoteContent -->

           <div class="form-group">
            <label for="quoteThemeTags">Theme Tags:</label>
            <textarea class="form-control input-sm" id="quoteThemeTags" name="quoteThemeTags" rows=2></textarea>
          </div> <!-- quoteThemeTags -->

           <div class="form-group">
            <label for="quoteContextTags">Context Tags:</label>
            <textarea class="form-control input-sm" id="quoteContextTags" name="quoteContextTags" rows=2></textarea>
            <p class="help-block small">Tags are seperated by a comma.</p>
          </div> <!-- quoteContextTags -->            
        </div><!-- content form fields -->

        </div> <!-- row -->
      </div><!-- modal body -->

      <div class="modal-footer">
        <div class="form-group">
         <button type="reset" class="btn btn-warning pull-left" onclick="resetTextArea('quoteContent', 'quoteContentCharNum')">Reset form</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div> <!-- modal footer --> 
      </form> <!-- form -->
      
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal wrapper -->


<script>
// counter and counterReset functions are included in the quoteEditModal
</script>