<div class="modal fade" id="quoteEditModal" tabindex="-1" role="dialog" aria-labelledby="quoteEditModal" aria-hidden="true" aria-describedby="" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4"><small>Topic: </small><span id="modalTopicTitle"></span></span>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      
        <div class="modal-body">
        <div class="row">
          <div class="col-xs-4">
            <blockquote>
              <p><span id="elementQuote"></span></p>
              <small><span id="elementQuoted"></span><br><span id="elementQuotedSubline"></span></small>
            </blockquote>
            
            <p class="pa-content"><span id="elementContent"></span></p>
          
          </div><!-- element content -->
          
          <%= form_tag(quote_path(), method: 'patch', id: :editQuoteForm) %>
          <div class="col-xs-4">
             <%= hidden_field_tag('story_id', @story.id) %>
             <%= hidden_field_tag('element_id', id: 'element_id') %>
             <%= hidden_field_tag('element_type', 'Quote') %>
             <div class="form-group">
               <label for="quoteEditTopic">Topic:</label>
               <input type="text" class="form-control input-sm" id="quoteEditTopic" name="quoteEditTopic" />
             </div> <!-- quoteEditTopic -->

             <div class="form-group">
               <label for="quoteEditQuote">Quote:</label>
               <textarea class="form-control input-sm" id="quoteEditQuote" name="quoteEditQuote" rows=7 ></textarea>
             </div> <!-- quoteEditQuote -->

             <div class="form-group">
               <label for="quoteEditQuoted">Quoted:</label>
               <input type="text" class="form-control input-sm" id="quoteEditQuoted" name="quoteEditQuoted" />
             </div> <!-- quoteEditQuoted -->

             <div class="form-group">
               <label for="quoteEditQuotedSubline">Quoted Title and/or Organization:</label>
               <input type="text" class="form-control input-sm" id="quoteEditQuotedSubline" name="quoteEditQuotedSubline" />
             </div> <!-- quoteEditQuotedSubline -->

          </div> <!-- quote form fields -->
          
          <div class="col-xs-4">            
            <div class="form-group">
              <label for="quoteEditContent">Content:</label>
              <textarea class="form-control input-sm" id="quoteEditContent" name="quoteEditContent" rows=7 oninput="charCount('quoteEditContent', 'quoteEditContentCharNum')"></textarea><div id="quoteEditContentCharNum" class="text-muted small">0 characters</div>
            </div> <!-- quoteEditContent -->
            
            <div class="form-group">
              <label for="quoteEditThemeTags">Theme Tags:</label>
              <textarea class="form-control input-sm" id="quoteEditThemeTags" name="quoteEditThemeTags" rows=2></textarea>
            </div> <!-- quoteEditThemeTags -->
            
            <div class="form-group">
              <label for="quoteEditContextTags">Context Tags:</label>
              <textarea class="form-control input-sm" id="quoteEditContextTags" name="quoteEditContextTags" rows=2></textarea>
              <p class="help-block small">Tags are seperated by a comma.</p>
            </div> <!-- quoteEdtiContextTags -->
            
          </div><!-- content form fields -->
          
          </div>
        </div><!-- modal body -->
        
        <div class="modal-footer">
          <div class="form-group">
           <button type="reset" class="btn btn-warning pull-left" onclick="resetTextArea('quoteEditContent', 'quoteEditContentCharNum')">Reset form</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Save changes</button>
          </div> <!-- controls -->
        </div> <!-- modal footer -->       
      </form>
      
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal wrapper -->


<script>
  function charCount(in_ele, out_ele) {
      var len = document.getElementById(in_ele).value.length;
      document.getElementById(out_ele).innerHTML = len + " Characters";
  }
  
  function resetTextArea (in_ele, out_ele){
    var elementExists = document.getElementById(in_ele);
    var displayElementExists = document.getElementById(out_ele);
    
    if (elementExists != null) {
      document.getElementById(in_ele).value = '';
    }
    if (displayElementExists != null) {
      document.getElementById(out_ele).innerHTML = "0 characters"
    }
  }  
  
// Modal scripts
$('#quoteEditModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var element_id = button.data('element-id') // Extract info from data-* attributes
      var topic = button.data('topic') 
      var quote = button.data('quote')
      var quoted = button.data('quoted')
      var quoted_subline = button.data('quoted-subline')
      var content = button.data('content')
      var theme_tags = button.data('theme-tags')
      var context_tags = button.data('context-tags')
      
      var modal = $(this)
      modal.find('#element_id').attr('value', element_id)
      modal.find('#quoteEditTopic').val(topic)
      modal.find('#quoteEditContent').val(content)
      var content_len = $('#quoteEditContent').val().length
      modal.find('#quoteEditContentCharNum').text(content_len + " characters")
      modal.find('#quoteEditQuote').val(quote)
      modal.find('#quoteEditQuoted').val(quoted)
      modal.find('#quoteEditQuotedSubline').val(quoted_subline)
      
      modal.find('#modalTopicTitle').text(topic)
      modal.find('#elementQuote').text(quote)
      modal.find('#elementQuoted').text(quoted)
      modal.find('#elementQuotedSubline').text(quoted_subline)
      modal.find('#elementContent').text(content)
      modal.find('#quoteEditThemeTags').val(theme_tags)
      modal.find('#quoteEditContextTags').val(context_tags)
    })

</script>