<!-- A modal to be activated by a button, via data attributes -->
<div class="modal fade" id="contentEditModal" tabindex="-1" role="dialog" aria-labelledby="contentEditModal" aria-hidden="true" aria-describedby="" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4"><small>Topic: </small><span id="modalTopicTitle"></span></span>
        <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div><!-- modal-header -->
             
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-5"><p class="pa-content">
            <span id="elementContent"></span></p>
          </div><!-- element content -->
          
          <%= form_tag(atom_path(), method: 'patch', id: :editQuoteForm) %>
          <div class="col-xs-7">
             <%= hidden_field_tag('story_id', @story.id) %>
             <%= hidden_field_tag('element_id', id: 'element_id') %>
             <%= hidden_field_tag('element_type', 'Atom') %>
            
            <div class="form-group">
                <label for="contentEditTopic" class="control-label small">Topic:</label>
                <input class="form-control input-sm" type="text" name="contentEditTopic" id="contentEditTopic">
            </div>
            
            <div class="form-group">
                <label for="contentEditContent" class="control-label">Content:</label>
                <textarea class="form-control input-sm" name="contentEditContent" id="contentEditContent" rows=7 oninput="charCount('contentEditContent', 'contentEditContentCharNum')"></textarea>
                <div id="contentEditContentCharNum" class="text-muted small">0 characters</div>
            </div>
           
            <div class="form-group"> <!-- Theme Tags Field -->
              <label for="contentEditThemeTags" class="control-label">Theme Tags:</label>
              <textarea class="form-control" name="contentEditThemeTags" id="contentEditThemeTags" rows=2></textarea>
            </div>
              
            <div class="form-group"> <!-- Theme Tags Field -->
              <label for="contentEditContextTags" class="control-label">Context Tags:</label>
              <textarea class="form-control" name="contentEditContextTags" id="contentEditContextTags" rows=2></textarea>
              <p class="help-block small">Tags are seperated by a comma.</p>
            </div>          
              
            </div><!-- content form fields -->
          
          </div><!-- row -->
        </div><!-- modal body -->
        
      <div class="modal-footer">
          <div class="form-group">
            <button type="reset" class="btn btn-warning pull-left" onclick="resetTextArea('contentEditContent', 'contentEditContentCharNum')">Reset form</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div> <!-- controls -->
        </div> <!-- modal footer --> 
      </form> <!-- form -->
      
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal wrapper -->

<script>
  
  /* commented out because function charCount() and function resetTextArea are included in the quote modal
  function charCount(in_ele, out_ele) {
      var len = document.getElementById(in_ele).value.length;
      document.getElementById(out_ele).innerHTML = len + " Characters";
  }
  
  function resetTextArea (in_ele, out_ele){
    var elementExists = document.getElementById(in_ele);
    var displayElementExists = document.getElementById(out_ele);
    
    if (elementExists != null) {
      document.getElementById(in_ele).value = '';
    }
    if (displayElementExists != null) {
      document.getElementById(out_ele).innerHTML = "0 characters"
    }
  } */ 
  
// Modal scripts
$('#contentEditModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var element_id = button.data('element-id') // Extract info from data-* attributes
      var topic = button.data('topic')
      var content = button.data('content')
      var theme_tags = button.data('theme-tags')
      var context_tags = button.data('context-tags')

      var modal = $(this)
      modal.find('#element_id').attr('value', element_id)
      modal.find('#contentEditTopic').val(topic)
      modal.find('#contentEditContent').val(content)
      var content_len = $('#contentEditContent').val().length
      modal.find('#contentEditContentCharNum').text(content_len + " characters")
      
      modal.find('#modalTopicTitle').text(topic)
      modal.find('#elementContent').text(content)
      modal.find('#contentEditThemeTags').val(theme_tags)
      modal.find('#contentEditContextTags').val(context_tags)
    })
</script>
